* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  padding-top: 50px;
}

@mixin clearfix () {
  &::before,
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}