.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  width: 100%;
  height: calc(100% - 44px);
  logo {
    width: 200px;
    height: 150px;
  }
  &__header {
    font-size:72px;
    text-transform: uppercase;
    color: $mainGrey;
    font-weight: bold;
  }
  &__description {
    color: $titlesGrey;
    font-family: 'Handlee', cursive;
    font-size: 32px;
    margin: 10px;
    font-weight: lighter;
  }
  button {
    width: 200px;
    height: 50px;
    margin: 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 50%;
    outline: none;
    -webkit-box-shadow: 7px 11px 19px -3px rgba(50,50,50,1);
    -moz-box-shadow: 7px 11px 19px -3px rgba(50,50,50,1);
    box-shadow: 7px 11px 19px -3px rgba(50,50,50,1);
  }
}
