.learn {
  height: calc(100% - 44px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  &__oralExam{
    width: 300px;
    height: 200px;
    border: 3px solid $orYellow;
    border-radius: 70%;
    text-align: center;
    text-transform: uppercase;
    margin: 50px;
    padding: 20px;
    &__link {
      text-decoration: none;
    }
    h1 {
      color: $mainGrey;
      font-size: 36px;
      text-decoration: none;
    }
    p {
      font-family: 'Handlee', cursive;
      color: $titlesGrey;
      margin: 10px;
      font-size: 24px;
      text-transform: lowercase;
    }
  }
  &__math{
    width: 300px;
    height: 200px;
    border: 3px solid $mathBlue;
    border-radius: 70%;
    text-align: center;
    text-transform: uppercase;
    margin: 50px;
    padding: 30px;
    &__link {
      text-decoration: none;
    }

    h1 {
      color: $mainGrey;
    }
    p {
      font-family: 'Handlee', cursive;
      color: $titlesGrey;
      margin: 10px;
      font-size: 24px;
      text-transform: lowercase;
    }
  }
}