.math {
  width: 100%;
  height: 100%;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__title {
      font-size: 42px;
      text-transform: uppercase;
      color: $mainGrey;
      margin: 5px;
    }
    &__description {
      font-size: 24px;
      color: $titlesGrey;
      font-family: 'Handlee', cursive;
      margin: 5px;
    }
  }
  &__root {
    width: 100%;
    h1 {
      margin: 5px;
      text-align: center;
      text-transform: uppercase;
      font-size: 36px;
      color: $mainGrey;
      border-top: 2px solid $titlesGrey;
      border-bottom: 2px solid $titlesGrey;
    }
    &__courses{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      &__title {
        height: 200px;
        width: 25%;
        margin: 50px 50px 30px 50px;
        padding: 40px;
        text-align: center;
        font-size: 32px;
        -webkit-box-shadow: 2px 6px 21px 4px rgba(56,176,222,1);
        -moz-box-shadow: 2px 6px 21px 4px rgba(56,176,222,1);
        box-shadow: 2px 6px 21px 4px rgba(56,176,222,1);
      }
     &__description {
       height: 150px;
       width: 25%;
       margin: 30px;
       padding: 5px;
       color: $titlesGrey;
       font-family: 'Handlee', cursive;
       font-size: 20px;
       text-align: justify;
     }
    }
  }
}