.slider{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 20px;
  position: relative;
}

.slide {
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  p {
    text-align: center;
    top: 370px;
    left: 200px;
    font-size: 18px;
    color: $mainGrey;
    font-weight: bolder;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  .content {
    width: 400px;
    height: 100px;
    text-align: center;
    font-size: 16px;
    color: $titlesGrey;
    font-family: 'Handlee', cursive;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  &.hidden{
    display: none;
  }
}

.nextArrow {
  cursor: pointer;
  font-size: 72px;
  font-weight: bolder;
  position: absolute;
  bottom: 250px;
  right: 2px;

}

.backArrow {
  cursor: pointer;
  font-size: 72px;
  font-weight: bolder;
  position: absolute;
  bottom: 250px;
  left: 2px;

}

